#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: #fff;
	z-index:9999999; 
}
.icn_red {
	color: #ff3d6a;
	animation: pulse 0.5s;
	animation-iteration-count: infinite;
}
.heartcontainer {
	position:absolute;
	left:50%;
	top:50%; 
	transform: translate(-50%, -50%);
}
@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
